*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

body {
    color: #121212;
    font-size: 16px;
    line-height: 1.7;
    background-color: #fff;
}

a {
    color: #121212;
    text-decoration: none;
    transition: ease .6s;
    -webkit-transition: ease .6s;
    -moz-transition: ease .6s;
    -o-transition: ease .6s;
    -ms-transition: ease .6s;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    color: rgb(224, 0, 77);
    text-decoration: none;
}

#gracias a {
    text-decoration: none;
}

#gracias img {
    box-shadow: 0 15px 30px rgba(0, 0, 0, .07);
}

#gracias a:hover {
    text-decoration: line-through;
    color: rgb(224, 0, 77);
}

iframe {
    border: none;
    width: 100%;
}

img {
    max-width: 100%;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin: -40px 0 0 -100px;
}

#status img {
    text-align: center;
    margin-top: -80px;
}

.no-pad {
    padding: 0 !important;
    margin: 0 !important;
}

.pad-80 {
    padding-top: 80px;
}

.mar-t-50 {
    margin-top: 50px !important;
}

.mar-tm-10 {
    margin-top: -10px;
}

.white-col {
    background: #ffffff;
    padding: 0;
    margin: 0;
    min-height: 660px;
    height: 100%;
}

.title-small span {
    font-size: 70px;
    font-weight: 100!important;
    margin-bottom: 75px;
    margin-left: -7px;
    color: #121212;
    font-family: "Montserrat", "Roboto", sans-serif;
}

.title-small-center span {
    position: relative;
}

.title-small-center span:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 3px;
    background-image: -moz-linear-gradient(90deg, rgb(224, 0, 77) 0%, rgb(255, 137, 101) 100%);
    background-image: -o-linear-gradient(90deg, rgb(224, 0, 77) 0%, rgb(255, 137, 101) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(224, 0, 77) 0%, rgb(255, 137, 101) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(224, 0, 77) 0%, rgb(255, 137, 101) 100%);
    box-shadow: 0 0 30px 0 rgba(255, 101, 144, 0.3);
    width: 28px;
    left: 0;
}

.grey-bg {
    padding: 120px 0;
    display: block;
    -webkit-animation: backanim 45s linear infinite;
    -moz-animation: backanim 45s linear infinite;
}

.white-bg {
    padding: 120px 0;
    display: block;
    z-index: -8;
}

.morado-bg {
    background-image: -moz-linear-gradient(45deg, rgb(224, 0, 77) 0%, rgb(255, 184, 140) 100%);
    background-image: -webkit-linear-gradient(45deg, rgb(224, 0, 77) 0%, rgb(255, 184, 140) 100%);
    background-image: -ms-linear-gradient(45deg, rgb(224, 0, 77) 0%, rgb(255, 184, 140) 100%);
    background-image: -o-linear-gradient(45deg, rgb(224, 0, 77) 0%, rgb(255, 184, 140) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 120px 0;
    display: block;
}

.content-detail {
    margin-top: 15%;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.pad-bottom {
    padding-bottom: 80px;
}

.text-detail p {
    margin-top: 30px;
    color: #5f5f5f;
    z-index: 3;
    font-size: 13px!important;
    line-height: 16px!important;
}

.listing-item {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}
.margenservicios{
    margin-top: 20px;
}

.header {
    position: absolute;
    top: 0px;
    width: 100%;
    color: #fff;
    line-height: normal;
    vertical-align: middle;
    z-index: 9001;
}
}

.opacity-nav {
    opacity: 0.8;
    z-index: 2;
}

.content-wrap {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
    -moz-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
    -o-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
    -ms-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
    transition: opacity 0.4s, transform 0s 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.menu-button {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 5px;
    top: 20px;
    display: block;
    margin-top: 13px;
    margin-right: 35px;
    z-index: 1000;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;

}

.menu-button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 33px;
    background: #fff;
    border-radius: 4px;
    opacity: 1;
}

.menu-button span:nth-child(1) {
    top: 0;
}

.menu-button span:nth-child(2) {
    top: 10px;
}

.menu-button span:nth-child(3) {
    top: 20px;
}

.menu-button:hover {
    opacity: 0.6;
}

.close-button {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.75em;
    border: none;
    background: transparent;
    color: transparent;
}

.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #fff;
}

.close-button::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-wrap {
    position: fixed;
    z-index: 1001;
    width: 300px;
    height: 100%;
    right: 0;
    float: right;
    background: rgb(224, 0, 77);
    padding: 2.5em 1.5em 0;
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.menu,
.menu-list {
    height: 100%;
}

.menu-list {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.menu-list a {
    display: block;
    -webkit-transform: translate3d(0, 500px, 0);
    -moz-transform: translate3d(0, 500px, 0);
    -o-transform: translate3d(0, 500px, 0);
    -ms-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
    position: relative;
    margin: 0 10px;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    z-index: 2;
    background-color: #121212;
    color: rgb(224, 0, 77);
    margin-bottom: 20px;
    padding: 10px;
}

.menu-list a:hover,
.menu-list a:active span {
    color: #121212;
}

.menu-list,
.menu-list a {
    -webkit-transition: -webkit-transform 0s 0.4s;
    transition: transform 0s 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.menu a:nth-child(2) {
    -webkit-transform: translate3d(0, 1000px, 0);
    -moz-transform: translate3d(0, 1000px, 0);
    -o-transform: translate3d(0, 1000px, 0);
    -ms-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0);
}

.menu-list a:nth-child(3) {
    -webkit-transform: translate3d(0, 1500px, 0);
    -moz-transform: translate3d(0, 1500px, 0);
    -o-transform: translate3d(0, 1500px, 0);
    -ms-transform: translate3d(0, 1500px, 0);
    transform: translate3d(0, 1500px, 0);
}

.menu-list a:nth-child(4) {
    -webkit-transform: translate3d(0, 2000px, 0);
    -moz-transform: translate3d(0, 2000px, 0);
    -o-transform: translate3d(0, 2000px, 0);
    -ms-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
}

.menu-list a:nth-child(5) {
    -webkit-transform: translate3d(0, 2500px, 0);
    -moz-transform: translate3d(0, 2500px, 0);
    -o-transform: translate3d(0, 2500px, 0);
    -ms-transform: translate3d(0, 2500px, 0);
    transform: translate3d(0, 2500px, 0);
}

.menu-list a:nth-child(6) {
    -webkit-transform: translate3d(0, 3000px, 0);
    -o-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    -moz-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
}

.menu-list a:nth-last-child(1) {
    margin-bottom: 100px;
}

.menu-list a:hover {
    background-color: #ffffff;
    color: rgb(224, 0, 77);
}

.menu-list a.active {
    color: rgb(224, 0, 77) !important;
    background-color: #ffffff;
}

.show-menu .menu-wrap {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    -moz-transition: -webkit-transform 0.8s;
    -o-transition: -webkit-transform 0.8s;
    -ms-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.show-menu .menu-list,
.show-menu .menu-list a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.show-menu .menu-list a {
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
}

.show-menu .content:before {
    opacity: 1;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 0.8px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

p {
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 34px;
    font-weight: 300;
}

#home h1 {
    color: white;
    letter-spacing: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    font-size: 20px;
    left: 0;
}

#home .typed {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    color: white;
}

.year {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

.job {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #cccccc;
}

.company {
    font-size: 12px;
    line-height: 14px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #ececec;
    border-color: rgb(224, 0, 77);
    color: rgb(224, 0, 77);
    padding: 8px 10px;
    display: inline-block;
    margin-top: 5px;
    font-weight: 400;
}

@media only screen and (max-width:870px) {
    #home h1 {
        font-size: 170px
    }
    #gracias h1 {
        font-size: 100px
    }
    .wow-content i {
        font-size: 450px
    }
}

@media only screen and (max-width:670px) {
    #home h1 {
        font-size: 170px
    }
    #gracias h1 {
        font-size: 90px
    }
    .wow-content i {
        font-size: 400px
    }
}

@media only screen and (max-width:520px) {
    #home h1 {
        font-size: 130px
    }
    #gracias h1 {
        font-size: 80px
    }
    .wow-content i {
        font-size: 300px
    }
    .title-small span {
        font-size: 50px;
        line-height: normal;
    }
}

@media only screen and (max-width:420px) {
    #home h1 {
        font-size: 110px
    }
    #gracias h1 {
        font-size: 70px
    }
    .wow-content i {
        font-size: 200px
    }
    .title-small span {
        font-size: 40px;
        line-height: normal;
    }
}

#home {
    background-image: url(../images/hero2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
}

.wrap-hero-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(32, 26, 22, .2);
}

.hero-content {
    position: absolute;
    text-align: center;
    min-width: 300px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.mouse-icon {
    position: absolute;
    border: 2px solid #fff;
    background: transparent;
    opacity: 0.8;
    border-radius: 13px;
    height: 40px;
    width: 30px;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 100;
}

.mouse-icon .scroll {
    -webkit-animation-name: scrolling;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: scrolling;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .scroll {
    position: relative;
    border-radius: 10px;
    background: #fff;
    width: 4px;
    height: 8px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes scrolling {
    0% {
        top: 2px;
        opacity: 0;
    }
    30% {
        top: 8px;
        opacity: 1;
    }
    100% {
        top: 16px;
        opacity: 0;
    }
}

@keyframes scrolling {
    0% {
        top: 2px;
        opacity: 0;
    }
    30% {
        top: 8px;
        opacity: 1;
    }
    100% {
        top: 16px;
        opacity: 0;
    }
}

.typed-cursor {
    opacity: 0;
}

.head-sm {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    z-index: 3;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.text-grey {
    color: #434343;
    line-height: 26px;
    z-index: 3;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.wrap-card {
    position: relative;
    box-shadow: 0 0 0 #818181;
    transition: all 0.2s ease 0s;
    -webkit-transform: translateY(0px) translateX(0px);
}

.wrap-card:before,
.wrap-card:after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    background: rgb(224, 0, 77);
    -webkit-transform: scaleX(0);
    transition: all 0.2s ease;
}

.wrap-card:before {
    top: 0;
    left: 0;
    -webkit-transform-origin: 0 0;
}

.wrap-card:after {
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 100% 0;
}

.wrap-card:hover {
    box-shadow: 20px 20px 0 rgb(224, 0, 77);
    -webkit-transform: translateY(-10px) translateX(-10px);
    transition: all 0.2s ease 0.4s;
}

.wrap-card:hover:after,
.wrap-card:hover:before {
    -webkit-transform: scaleX(1);
}

.card {
    background: #ffffff;
    padding: 30px 18px 45px 18px;
    margin-bottom: 30px;
    border: 1px solid rgba(129, 129, 129, 0.1);
}

.card:before,
.card:after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 3px;
    height: 100%;
    background: rgb(224, 0, 77);
    -webkit-transform: scaleY(0);
    transition: all 0.2s ease 0.2s;
}

.card:before {
    top: 0;
    left: 0;
    -webkit-transform-origin: 0 100%;
}

.card:after {
    top: 0;
    right: 0;
    -webkit-transform-origin: 0 0;
}

.card:hover:after,
.card:hover:before {
    -webkit-transform: scaleY(1);
}

#about {
    min-height: 650px;
    display: inline-block;
    width: 100%;
    padding: 100px 0 0 0;
}

#about .fa {
    color: #121212;
}

.bg-about {
    width: 100%;
    filter: grayscale(100%);
    /* -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
    box-shadow: 0 15px 30px rgba(0, 0, 0, .07);
}

.wrap-about {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    min-height: 480px;
}

.wrap-about .w-content {
    position: realtive;
    padding: 50px;
}

@media only screen and (max-width:870px) {
    .tableleft {
        margin-left: 5%;
    }
}

@media only screen and (max-width:670px) {
    .tableleft {
        margin-left: 5%;
    }
}

@media only screen and (max-width:520px) {
    .tableleft {
        margin-left: 10%;
    }
}

@media only screen and (max-width:420px) {
    .tableleft {
        margin-left: 10%;
    }
}

.wrap-about .w-content td {
    font-size: 13px;
    font-weight: 300;
}

.wrap-about .w-content td.title {
    padding-right: 10px;
    font-weight: 500;
}

.wrap-about .w-content td.break {
    padding-right: 25px;
}

.wrap-about .w-content tr {
    height: 35px;
}

.wrap-about .head-about {
    font-size: 13px;
    line-height: 34px;
    letter-spacing: 0.5px;
    font-weight: 100;
    line-height: 16px;
}

.wrap-about .name {
    margin: 20px 0 40px 0;
    font-size: 14px;
}

#contact {
    padding: 120px 0 200px 0;
}

#contact form {
    margin-top: 25px;
}

#contact .slider-masks {
    background-color: rgba(129, 129, 129, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#contact .group {
    position: relative;
    margin-bottom: 65px;
}

#contact input,
#contact textarea {
    font-family: "Montserrat", sans-serif!important;
    font-weight: 100;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #2b2b2b;
    background: transparent;
    color: #969696;
}

#contact input:focus,
#contact textarea:focus {
    outline: none;
    border-bottom: none;
}

#contact label {
    color: #2b2b2b;
    font-family: "Montserrat", sans-serif!important;
    font-weight: 100;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#contact input:focus~label,
#contact input:valid~label,
#contact textarea:focus~label,
#contact textarea:valid~label {
    top: -25px;
    font-size: 12px;
    color: #818181;
}

#contact .bar {
    position: relative;
    display: block;
    width: 100%;
}

#contact .bar:before,
#contact .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #818181;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

#contact .bar:before {
    left: 50%;
}

#contact .bar:after {
    right: 50%;
}

#contact input:focus~.bar:before,
#contact input:focus~.bar:after,
#contact textarea:focus~.bar:after,
#contact textarea:focus~.bar:before {
    width: 50%;
}

#contact .highlight {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

#contact input:focus~.highlight,
#contact textarea:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

#contact input[type=submit] {
    outline: 0;
    border: none;
    height: 50px;
    color: #121212!important;
    font-family: "Montserrat", sans-serif!important;
    font-weight: 100;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .07);
    background: #fff;
    top: 71vh;
    z-index: 199!important;
    -webkit-transition: 225ms ease all;
    transition: 225ms ease all;
    will-change: transition;
}

#contact input[type=submit]:hover {
    background: linear-gradient(to left, rgb(224, 0, 77), rgb(255, 184, 140));
    transition: 225ms ease all;
    -webkit-transition: 225ms ease all;
    will-change: transition;
    color: #fff!important;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #818181;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #818181;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.footer-bottom {
    width: 100%;
    background: #fff;
    padding: 50px 0 0 0;
    color: #121212;
    text-align: left;
}

.footer-item {
    margin-bottom: 40px;
}

.contact-footer-title {
    max-width: 200px;
    margin: 0 0 10px;
}

.footer-content {
    font-size: 14px;
    line-height: 21px;
    color: #121212;
}

.footer-item-title {
    display: block;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #c6c6c5;
    color: #121212;
}

.footer-bottom h5 {
    font-size: 18px;
    color: #121212;
    font-weight: bold;
    margin-top: 30px;
}

.footer-bottom a {
    position: relative;
    display: inline-block;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    color: #121212;
    transition: .5s color cubic-bezier(.19, 1, .22, 1), .5s -webkit-transform cubic-bezier(.19, 1, .22, 1);
    transition: .5s color cubic-bezier(.19, 1, .22, 1), .5s transform cubic-bezier(.19, 1, .22, 1);
}

.footer-bottom a:before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 0;
    height: 1px;
    background: #6f6f6e;
    content: '';
    transition: .5s left cubic-bezier(.19, 1, .22, 1), .5s width cubic-bezier(.19, 1, .22, 1);
}

.footer-bottom a:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 34px;
    content: '';
    transition: .5s left cubic-bezier(.19, 1, .22, 1);
}

.footer-bottom a:hover,
.footer-bottom a:focus {
    color: #1d1d1b;
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    -o-transform: translateX(17px);
    -moz-transform: translateX(17px);
    transform: translateX(17px);
}

.footer-bottom a:hover:before,
.footer-bottom a:focus:before {
    left: -17px;
    width: 12px;
}

.footer-bottom a:hover:after,
.footer-bottom a:focus:after {
    left: -17px;
}

.footer-second {
    background-color: #fff;
    padding: 20px 0;
    color: #9c9b9b;
    font-size: 12px;
    line-height: 21px;
}

.skillst {
    margin-top: 30px;
}

.skillst .skillbar {
    width: 100%;
    height: 10px;
    background-color: #f6f6f6;
    position: relative;
    margin-bottom: 60px;
    padding: 2px;
    box-sizing: border-box;
}

.skillst .count-bar {
    width: 100%;
    height: 5px;
    width: 0;
    position: relative;
}

.skillst .count-bar {
    background-image: -moz-linear-gradient(0deg, rgb(224, 0, 77) 0%, rgb(255, 184, 140) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(224, 0, 77) 0%, rgb(255, 184, 140) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(224, 0, 77) 0%, rgb(255, 184, 140) 100%);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(224, 0, 77, 0.2);
}

.skillst .count-bar span {
    font-size: 12px;
}

.skillst .title {
    position: absolute;
    line-height: 25px;
    top: -35px;
    left: 0;
    padding-left: 10px;
    font-size: 12px !important;
}

.skillst .count-bar .count {
    position: absolute;
    line-height: 18px;
    top: -28px;
    right: -20px;
    width: 40px;
    height: 18px;
    color: #fff;
    text-align: center;
    background-color: #262e48;
}

.skillst .count-bar .count span {
    position: relative;
    display: block;
}

.skillst .count-bar .count span:after {
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: 18px;
    content: "";
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.skillst .count-bar .count {
    background-color: #313855;
}

.skillst .count-bar .count span:after {
    border-top: 4px solid #313855;
}

canva {
    width: 30px;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0, 0, 0, 0.2);
    border-right: 1.1em solid rgba(0, 0, 0, 0.2);
    border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid rgb(224, 0, 77);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.botonborde {
    outline: 0;
    border: none;
    height: 50px;
    width: 180px;
    color: #121212!important;
    font-family: "Montserrat", sans-serif!important;
    font-weight: 100;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .07);
    background: #fff;
    top: 71vh;
    z-index: 199!important;
    -webkit-transition: 225ms ease all;
    transition: 225ms ease all;
    will-change: transition;
}

.botonborde:before,
.botoncolor:before {
    -webkit-transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
}

.botoncolor {
    outline: 0;
    border: none;
    height: 50px;
    width: 180px;
    color: #121212!important;
    font-family: "Montserrat", sans-serif!important;
    font-weight: 100;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .07);
    background: #fff;
    top: 71vh;
    z-index: 199!important;
    -webkit-transition: 225ms ease all;
    transition: 225ms ease all;
    will-change: transition;
}

.botoncolor:hover {
    background: linear-gradient(to left, rgb(224, 0, 77), rgb(255, 184, 140));
    transition: 225ms ease all;
    -webkit-transition: 225ms ease all;
    will-change: transition;
    color: #fff!important;
}

.botoncenter {
    text-align: center;
}

.mas {
    margin: 10% 42%;
}

@media only screen and (max-width:420px) {
    .mas {
        margin: 10% 32%;
    }
}

.botonborde:hover,
.botonborde:focus {
    background: linear-gradient(to left, rgb(224, 0, 77), rgb(255, 184, 140));
    transition: 225ms ease all;
    -webkit-transition: 225ms ease all;
    will-change: transition;
    color: #fff!important;
}

.botoncolor:hover,
.botoncolor:focus {
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.botonborde:hover:before,
.botonborde:focus:before,
.botoncolor:hover:before,
.botoncolor:focus:before {
    opacity: 0.15;
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.botonborde .fa-download:before {
    display: none;
}

.botonborde:hover .fa-download:before {
    color: #fff;
    ;
    display: block;
    font-size: 20px;
}

.botonborde:hover span {
    display: none;
}

.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.fa {
    font-size: 3em;
    position: relative;
    margin: 0;
    padding: 0;
    color: white;
    border: 0;
    background: none;
    overflow: visible;
}

.fa {
    display: block;
    padding: 0 0.1em;
}

.iconito {
    font-size: 25px;
    line-height: 20px;
    color: rgb(224, 0, 77);
    margin: 0;
}

.download {
    font-size: 2em;
}

@media screen and (max-width:480px) {
    .grey-bg,
    .white-bg .gracias-bg {
        padding: 40px 0;
    }
    .hero-content .gracias-content {
        min-width: 280px;
        padding: 25px;
    }
    .gracias-content {
        min-width: 300px;
    }
    .menu-wrap {
        width: 220px;
    }
    .mouse-icon {
        bottom: 5px;
    }
    .grid-item {
        width: 100% !important;
        padding: 0;
    }
    .wrap-about {
        padding: 0 0 20px 0;
        min-height: 400px !important;
    }
    .wrap-about .w-responsive {
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        padding: 30px 0;
        transform: none;
    }
    #testimonial {
        height: 700px;
    }
    .skillst {
        margin-top: 50px;
    }
      .botoncenter .botonborde{
        width: 120px;
    }
    .contact-footer-title{
        max-width: 0;
    }
}

@media screen and (max-width:768px) {
    .for-sticky {
        padding: 0;
    }
    .logo-nav {
        margin-left: 0;
    }
    .menu-button {
        margin-right: 15px;
    }
    .ma-infinitypush-wrapper.ma-infinitypush-active-button.ma-infinitypush-button-right .ma-infinitypush-button {
        left: -65px;
    }
    .ma-infinitypush-wrapper {
        width: 200px;
    }
    .ma-infinitypush-wrapper ul>li {
        width: 200px;
    }
    #home p {
        width: 100%;
    }
    .wrap-about {
        min-height: 520px;
        padding-bottom: 10%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .wrap-about .head-quote {
        padding-top: 10%;
    }
    .content-right {
        margin-top: 20px;
    }
    .text-grey {
        margin-bottom: 45px;
    }
    .skillst {
        margin-top: 50px;
    }
    footer p {
        text-align: center;
    }
}

@media screen and (min-width:1024px) {
    .content-right {
        margin-top: 20px;
        padding: 0 20px 0 60px;
    }
}

.object {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
    padding-top: 100%;
}

svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#Capa_1 {
    transform: scale(1.2);
}

@media only screen and (max-width:870px) {
    #Capa_1 {
        transform: scale(1.1);
    }
    #home h1 {
        font-size: 15px;
        letter-spacing: 25px;
    }
}

@media only screen and (max-width:670px) {
    #Capa_1 {
        transform: scale(1);
    }
    #home h1 {
        font-size: 13px;
        letter-spacing: 22px;
    }
}

@media only screen and (max-width:520px) {
    #Capa_1 {
        transform: scale(0.9);
    }
    #home h1 {
        font-size: 10px;
        letter-spacing: 18px;
    }
}

@media only screen and (max-width:420px) {
    #Capa_1 {
        transform: scale(0.6);
    }
    #home h1 {
        font-size: 10px;
        letter-spacing: 10px;
    }
}

svg path {
    fill-opacity: 0;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: FillIn;
    animation-duration: 1s;
    animation-delay: 1s;
}

@keyframes FillIn {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}

.enfasis span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    color: #f3f0f5;
}

@media only screen and (max-width:870px) {
    .enfasis span {
        transform: translateX(-70px) translateY(-50%);
        ;
    }
}

@media only screen and (max-width:670px) {
    .enfasis span {
        transform: translateX(-250px) translateY(-50%);
        ;
    }
}

@media only screen and (max-width:520px) {
    .enfasis span {
        transform: translateX(-200px) translateY(-50%);
        ;
    }
}

@media only screen and (max-width:420px) {
    .enfasis span {
        transform: translateX(-150px) translateY(-50%);
        ;
    }
}

padding:3%;
top:10%;
font-size:10px;
;

}

}
@media only screen and (max-width:420px) {
    #barraaceptacion {
        min-height: 15%;
    }
    .inner {
        top: 20%;
        font-size: 9px;
        ;
    }
}
.sizeboton {
    color:white;
    cursor:pointer;
    font-size:13px;
    border:none;
    background-color:rgb(109, 104, 254);
    padding:5px 20px 5px 20px;
}
.cookie-container {
    background-color:rgba(0, 0, 0, 0.6);
    position:fixed;
    text-align:center;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    color:white;
    font-family:'Montserrat',
    'Roboto',
    sans-serif;
    z-index:99999;
    overflow:hidden;
    transition:all .3s ease;
}
.cookie-container a {
    text-decoration:none;
    color:#555;
    transition:color .2s ease,
    background .2s ease,
    width .6s ease;
}
.cookie-container p {
    margin:0;
    padding:13px 75px;
    transition:all .2s ease;
}
.cookie-container.ex-1 {
    text-align:center;
}
.cookie-container .fa {
    position:relative;
    color:#fff;
    padding:1.3em 1em 1em 1em;
    position:absolute;
    top:0;
    bottom:0;
    width:2%;
}
.cookie-container .fa:after {
    content:attr(alt);
    position:absolute;
    font-family:'Montserrat',
    'Roboto',
    sans-serif;
    white-space:nowrap;
    padding:5px 10px;
    background:#f9f9f9;
    color:#555;
    border:none;
    top:11px;
    visibility:hidden;
    opacity:0;
    transition:all .2s ease;
}
.cookie-container .fa-info {
    left:0;
    width:auto;
}
.cookie-container .fa-info:hover {
    background:#4facfe;
    color:#fff;
}
.cookie-container .fa-info:after {
    left:110%;
}
.cookie-container .fa-info:hover:after {
    left:95%;
    visibility:visible;
    opacity:1;
}
.cookie-container .fa-check {
    right:0;
    width:auto;
}
.cookie-container .fa-check:hover {
    background:#43e97b;
    color:#fff;
}
.cookie-container .fa-check:after {
    right:110%;
}
.cookie-container .fa-check:hover:after {
    right:95%;
    visibility:visible;
    opacity:1;
}
.cookie-container.ex-1.accepted .fa-info,
.cookie-container.ex-1.accepted p {
    visibility:hidden;
    opacity:0;
    transition:all .3s ease;
}
.cookie-container.ex-1.accepted .fa-check {
    background:#43e97b;
    width:100%;
    color:#fff;
}
.cookie-container.ex-1.accepted .fa-check:after {
    display:none;
}
.cookie-container.ex-1.accepted {
    visibility:hidden;
    opacity:0;
    transition-delay:2s;
}
.swiper-container {
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.swiper-slide {
    height:auto;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
}
::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar,
 ::-webkit-scrollbar-track {
    background-color:#121212;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(224, 0, 77);
}
.grid-item {
    width: 33.33%;
}
.grid-item img {
    width: 100%;
}
.container {
    padding-left: 50px;
    padding-right: 50px;
}
#grid {
    position: fixed;
    width: 100%;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.gridshadow {
    box-shadow: 0 15px 100px rgba(0, 0, 0, .06);
}
#grid .col-xs-3 .grid-line.hey {
    height: 100vh;
    transition: height 1.2s ease;
}
#grid .col-xs-3:last-child .grid-line {
    height: 100vh;
    border-left: 1px solid rgba(195, 195, 195, 0.25);
    border-right: 1px solid rgba(195, 195, 195, 0.25);
}
#grid .col-xs-3 .grid-line {
    height: 0;
    border-left: 1px solid rgba(195, 195, 195, 0.25);
}
[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}

/* Styling */
.timeline {
    margin: 4em auto;
    position: relative;
    max-width: 46em;
}
.timeline:before {
    background-color: #121212;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}
.timeline-event {
    position: relative;
}
.timeline-event:hover .timeline-event-icon {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: rgb(224, 0, 77);
}
.timeline-event:hover .timeline-event-thumbnail {
    -moz-box-shadow: inset 40em 0 0 0 rgb(224, 0, 77);
    -webkit-box-shadow: inset 40em 0 0 0 rgb(224, 0, 77);
    box-shadow: inset 40em 0 0 0 rgb(224, 0, 77);
    color: white;
}
.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 80%;
}
.timeline-event-copy h3 {
    font-size: 1.75em;
}
.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}
.timeline-event-copy strong {
    font-weight: 700;
}
.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}
.timeline-event-icon {
    -moz-transition: -moz-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #121212;
    outline: 10px solid white;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}
.timeline-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -ms-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    font-size: 0.75em;
    font-weight: 100;
    letter-spacing: 2px;
    background-color: white;
    color: rgb(224, 0, 77);
    border: solid 1px rgb(224, 0, 77);
    -moz-box-shadow: inset 0 0 0 0em #ef795a;
    -webkit-box-shadow: inset 0 0 0 0em #ef795a;
    -o-box-shadow: inset 0 0 0 0em #ef795a;
    -ms-box-shadow: inset 0 0 0 0em #ef795a;
    box-shadow: inset 0 0 0 0em #ef795a;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}
.case-title {
    top: 200px;
    font-size: 4rem;
    letter-spacing: 1px;
    z-index: -1;
    color: #121212;
    font-family:"Montserrat",
    sans-serif;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    will-change: transform;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -o-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    text-indent: -100px!important;
    direction: rtl;
    position: relative;
}
.back-title {
    font-size: 4rem;
    letter-spacing: 1px;
    color: #121212;
    font-family: "montserrat",
    sans-serif;
    text-align: center;
    text-transform: uppercase;
    width:100%;
    position: relative;
}
@media only screen and (max-width:991px) {
    .case-title {
        top: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        will-change: transform;
        -webkit-transform-origin: bottom;
        -moz-transform-origin: bottom;
        -o-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
        text-indent: 0!important;
        direction: rtl;
        position: relative;
        text-align: left;
    }
}
.border {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background: -webkit-linear-gradient(right, rgb(224, 0, 77), rgb(255, 184, 140));
    background: linear-gradient(to left, rgb(224, 0, 77), rgb(255, 184, 140));
}
.snip1205 {
    position: relative;
    overflow: hidden;
    background:rgb(224, 0, 77);
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1205 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.snip1205 img {
    max-width: 100%;
    vertical-align: top;
}
.snip1205 i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: rgb(224, 0, 77);
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.snip1205 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.snip1205.color {
    background-color: rgb(224, 0, 77);
}
.snip1205.color i {
    color: rgb(224, 0, 77);
}
.snip1205:hover img,
.snip1205.hover img {
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.snip1205:hover i,
.snip1205.hover i {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*Boton Back*/
.botontotop{
    margin-bottom:30px;

}
.btn-up {
    transform: rotate(90deg);
    float:inherit;
    margin-right: 55px;
    padding: 15px;
}
.btn-black {
    background-color:  rgb(224, 0, 77);
    -webkit-mask-image: url(../images/btn_pre_black.svg);
    mask-image: url(../images/btn_pre_black.svg);
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1000;
    padding: 10px;
    cursor: pointer;
    display: block;
    right: 0;
    fill: red;
}

.footercopy {
    width: 100%;
    background: #fff;
    padding: 10px 0 0 0;
    color: #121212;
    text-align: center;
}
